
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">-->
<!--<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{},~{})">-->
<head th:include="common::common_header">
    <title>个人中心</title>
</head>
<body>
    <!-- .container （固定宽度）或 .container-fluid （100% 宽度） style最后渲染，优先级最高-->
    <div id="box" class="container-fluid i-container" style="padding-left: 0px;padding-right: 0px;">

       2333
      </div>
</body>
</html>
