
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="common::common_header">
        <title>商品详情</title>
    </head>
    <body>
     <link th:href="@{/static/mycss/product.css}" rel="stylesheet">
        <!-- .container （固定宽度）或 .container-fluid （100% 宽度） style最后渲染，优先级最高-->
        <div id="box" class="container-fluid i-container" style="padding-left: 0px;padding-right: 0px;">
           
            <div class="i-header">
                <img :src="product.pic">
            </div>

            <div class="i-body">
                <p>{{product.name}}</p>
                <p>{{product.subTitle}}</p>
                <p>{{product.price}}元</p>
            </div>

            <div class="i-footer">

              <div class="i-footer-part">
                  <div class="glyphicon glyphicon-home" style="top:30%;" @click="toMyCart()">购物车</div>
              </div>

              <div class="i-footer-part" style="background-color: orange;" @click="addProductToCart(product.id)">
                 <div style="position: relative;top:30%;">加入购物车</div>
              </div>


              <div data-toggle="modal" data-target="#myModal" class="i-footer-part" style="background-color: green;">
                <div style="position: relative;top:30%;">立即购买</div>
              </div>

            </div> 


            <!-- 按钮：用于打开模态框
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                打开模态框
            </button> -->
            
            <!-- 模态框 -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
            
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <h4 class="modal-title">订单</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
            
                        <!-- 模态框主体 -->
                        <div class="modal-body">
                            <p>{{product.name}}</p>
                            <p>{{product.subTitle}}</p>
                            <ul id="num" style="height: 40px;text-align: left;">
                                <li>宝贝数量：</li>
                                <li><button @click="subtract()">-</button></li>
                                <li><input type="text" value="0" size="1" v-model="count"></li>
                                <li><button @click="add()">+</button></li>
                            </ul>
                            <div style="clear: both;">总价：{{computeSumPrice}} 元</div>
                        </div>
            
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" @click="payNow()">立即支付</button>
                            <button type="button" class="btn btn-info" @click="createOrder()" >稍后支付</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
            
                    </div>
                </div>
            </div>

          </div>
    </body>

    <script th:src="@{/static/myjs/common.js}"></script>
    <script th:inline="javascript">

        let app = new Vue({
            el:"#box",
            data:{
                title:"商品详情",
                product:{},
                count:1,

            },

            methods: {
                findProduct(productId){
                    axios.get(protal_url+'product/findProduct/'+productId)
                        .then(function (response) {
                            console.log(response);
                            //this.product=response.data.data;
                            app.$data.product=response.data.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                createOrder(productId){
                    console.log(productId);

                },
                addProductToCart(productId){
                    alert("暂未开发");
                    console.log(productId);
                },
                toMyCart(){
                    alert("暂未开发");
                    console.log("toMyCart");
                },

                add:function(){
                    if(this.count>=10){
                        alert('每个人最多买10件');
                    }else{
                        this.count++;
                    }
                },
                subtract:function(){
                    if (this.count<=1){
                        alert('受不了啦，宝贝不能再减少啦')
                    }else {
                        this.count--;
                    }
                },
                payNow(){
                    this.handleOrder(1);
                },
                createOrder(){
                    this.handleOrder(0);

                },
                handleOrder(orderState){
                    this.product.quantity=this.count;
                    let orderExtendVO={
                        order:{
                            // 0-> 待付款；1-> 待发货；2-> 已发货；3-> 已完成；4-> 已关闭；5-> 无效订单
                            status: orderState,
                        },
                        products:[
                            this.product,
                        ],
                        user:user={
                            id:1,
                        },
                    };
                    axios.post(protal_url+'order/createOrder', orderExtendVO)
                        .then(function (response) {
                            let order=response.data.data;
                            window.location.href=protal_url+"ums/orderList/"+order.memberId;

                        })
                }
            },
            mounted() {
                // let productId=/*[[${productId}]]*/;
                let productId=[[${productId}]];
                this.findProduct(productId);
            },
            computed: {
                computeSumPrice: function () {
                    return this.product.price*this.count;
                }
            },

        })
    </script>
<!--    <script th:inline="javascript" th:src="@{/static/myjs/product.js}"></script>-->
</html>
